@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 15px;
}

.scrollToTop {
  background-color: transparent;
  background-image: white;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px transparent inset;
  transition: 0.5s ease-in-out;
  z-index: 1000;
}
